svg {
  background-color: #EEE;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
}

path.link.hover {
  stroke: #666666;
}

path.link.selected {
  stroke-dasharray: 10,10;
  stroke: #800000;
}

path.link.selected.hover {
  stroke: #cd0000;
}

path.mouselink {
  stroke-width: 30px;
  stroke: #000;
  stroke-opacity: 0;
  cursor: pointer;
}

/* path.mouselink:hover { */
/*   stroke-width: 10px; */
/*   stroke: #000; */
/*   stroke-opacity: 0.3; */
/*   cursor: pointer; */
/* } */

g.leaf path {
  fill: #FFF;
}

g.node path {
  cursor: pointer;
  fill: #FFF;
}

g.node path:hover {
  fill: #EEE;
}

rect.cursor {
  fill: #666;
}

text {
  font: 18px sans-serif;
  pointer-events: none;
}

text.value {
  text-anchor: middle;
  font-weight: bold;
}
