html, body {
  background: #EEE;
  overflow: hidden;
}

svg {
  background-color: #EEE;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.nopadding {
   padding: 0 !important;
}

.nomargin {
   margin: 0 !important;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
}

path.link.hover {
  stroke: #666666;
}

path.link.entered,
path.link.entered.hover {
  stroke: #00b300;
}

path.link.pruned {
  stroke-dasharray: 10,10;
  stroke: #800000;
}

path.link.pruned.hover {
  stroke: #cd0000;
}

path.mouselink {
  stroke-width: 30px;
  stroke: #000;
  stroke-opacity: 0;
  cursor: pointer;
}


g.node path {
  cursor: pointer;
  fill: #FFF;
  stroke: #000;
}
g.node path:hover {
  fill: #EEE;
}
g.node.entered path {
  fill: #EEFFEE;
}

g.node.leaf path {
  fill: #FFF;
}
g.node.leaf path:hover {
  fill: #EEE;
}
g.node.entered.leaf path {
  fill: #EEEEFF;
}

rect.cursor {
  fill: #666;
}

text {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  pointer-events: none;
}

text.value {
  text-anchor: middle;
  font-weight: bold;
}
