<!DOCTYPE html>
<html ng-app="abTreePractice">
  <head>
    <meta charset="utf-8">
    <title>Alpha-Beta Pruning Practice</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="tree.js"></script>
    <script src="app.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
  </head>
  <body ng-controller="MainCtrl">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default disabled">Depth</button>
        <button ng-click="incrDepth(-1)" type="button" class="btn btn-default">-</button>
        <button ng-click="incrDepth(1)" type="button" class="btn btn-default">+</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default disabled">Branching Factor</button>
        <button ng-click="incrBranchingFactor(-1)" type="button" class="btn btn-default">-</button>
        <button ng-click="incrBranchingFactor(1)" type="button" class="btn btn-default">+</button>
      </div>
      <button ng-click="flipMax()" type="button" class="btn btn-default">Swap Min/Max</button>
      <button ng-click="generateRootNode()" type="button" class="btn btn-default">Regenerate</button>
      <button ng-click="alphaBeta()" type="button" class="btn btn-default">Run Alpha-Beta</button>
    </div>
    <ab-tree tree="tree" re-render="reRender"></ab-tree>
  </body>
</html>
